header, footer, #two {
    background-color: #1f2937;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text, nav {
    font-size: 18px;
    color: #e5e7eb;
}

header > h1 {
    font-size: 24px;
    color: #f9faf8;
}

button, .action {
    background-color: #3882f6;
}

.info > p {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

blockquote {
    background-color: #e5e7eb;
}

blockquote > p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

footer > p, blockquote > p {
    text-align: center;
}

blockquote > cite {
    font-style: normal;
    font-weight: bold;
}