:root {
    box-sizing: border-box;
    font-size: 1em;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

/* Header */

header {
    background-color: #1F2937;
    display: flex;
}

header * + * {
    margin-top: 0;
}

header > h1 {
    font-size: 1.5rem;
    color: #F9FAF8;
    flex: 1;
    padding: 0 2em;
}

header > nav {
    flex: 2;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

header li {
    font-size: 1.125rem;
    color: #E5E7EB;
    padding: 0 2em;
}

/* Hero */

main {
    margin-top: 0;
}

div.hero {
    display: flex;
    background-color: #1F2937;
    padding: 0 3em;
}

div.hero > section {
    flex: 1;
}

div.hero > section > h2 {
    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

div.hero > section > p {
    margin-top: 0;
    font-size: 1.125rem;
    color: #E5E7EB;
}

div.hero > section > p > button {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 0.5em;
    padding: 0.25em 1.75em;
    margin-top: .5em;
}

div.hero > aside {
    flex: 1;
}

div.hero > aside > p {
    font-size: 1.125rem;
    color: #E5E7EB;
    background-color: grey;
    text-align: center;
    padding: 4em 2em;
}

/* info */

section.info {
    padding: 0 3em;
}

section.info * + * {
    margin-top: 0;
}

section.info > h2 {
    font-size: 2.25rem;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

section.info > ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

section.info div {
    border: thick solid #6CB4EE;
    border-radius: 1em;
    width: 125px;
    height: 120px;
}

section.info figcaption {
    margin-top: .5em;
    padding-left: .3em;
    color: #1F2937;
}

/* Quote */

blockquote {
    background-color: #E5E7EB;
    padding: 2em 4em;
    margin: 2em 0;
}

blockquote > p {
    text-align: center;
    font-style: italic;
    font-size: 2.25rem;
    color: #1F2937;
}

blockquote > cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    margin-top: 0;
}

/* Call to action */

section.cta {
    background-color: #3882f6;
    border-radius: .5em;
    display: flex;
    margin: 4em 2em;
    padding: 0 4em;
}

section.cta > .prompt {
    flex: 1;
    justify-content: flex-start;
}

section.cta h2 {
    color: #F9FAF8;
    font-size: 1.5rem;
    margin-bottom: 0;
}

section.cta p {
    margin-top: 0;
    color: #E5E7EB;
}

section.cta > div.cta-btn {
    justify-content: flex-end;
}

section.cta button {
    border-radius: .5em;
    color: #F9FAF8;
    background-color: #3882f6;
    border-color: white;
    padding: .25em 1.5em;
}

/* Footer */

footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 1em 2em;
}