header, footer {
    background-color: #1f2937;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text, nav {
    font-size: 18px;
    color: #e5e7eb;
}

header > p {
    font-size: 24px;
    color: #f9faf8;
}

button, .action {
    background-color: #3882f6;
}

.info > p {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

blockquote {
    background-color: #e5e7eb;
}