:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

header,
.hero {
    background-color: #1F2937;
}

.header li, 
.main > p {
    font-size: 18px;
    color: #E5E7EB;
}

.header > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
}

.header h1,
.header nav {
    flex: 1;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header li {
    padding: 0 1em;
}

.main > h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main > button {
    background-color: #3882f6;
    border-radius: .5em;
    padding: .25em 1em;
}