:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.hero {
    background-color: #1F2937;
}

.main > h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header li, 
.main > p {
    font-size: 18px;
    color: #E5E7EB;
}